.map-container{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
  }
  .map-container iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
  }
  .search-margin-top {
    margin-top: 8rem;
  }
  .body-padding-bottom {
    padding-bottom: 4.5rem;
  }
  .bg-blur{
    background: rgba(255,255,255,0.4);
  backdrop-filter: blur(5px);
  }

 
  #chat2 .form-control {
    border-color: transparent;
    }
    
    #chat2 .form-control:focus {
    border-color: transparent;
    box-shadow: inset 0px 0px 0px 1px transparent;
    }
    
    .divider:after,
    .divider:before {
    content: "";
    flex: 1;
    height: 1px;
    background: #eee;
    }

    .scroll {
      max-height: 500px;
      overflow-y: auto;
  }
  .profileImg{
    width: 45px; 
    height: 100%;
  }
  .chatListLine{
    text-decoration:none;
  }
  .imgCarousel{
    height: 300px;
  }
  .ddd{
    max-width: 50%;
    object-fit: scale-down;
  }

  .map-style { height: 250px; }

  .cursor:not(:disabled):not(.disabled) {
    cursor: pointer;
}
.carousel .item img {
  max-height: 100px;
  min-width: auto;
}

img {
  display: block;
  max-width: 100%;
}
.preview {
  overflow: hidden;
  width: 160px; 
  height: 160px;
  margin: 10px;
  border: 1px solid red;
}
.cropper-container{
  width: 100%!important;
}